.html {
  display: flex;
  width: 10em;
  background-color: white;
  border: 2px solid black;
  flex-shrink: 0;
  display: flex;
  transition: left 0.5s linear, bottom 0.5s linear, height 3s linear;
  position: absolute;
  overflow: hidden;
}
.html::after {
  content: "<script>\A...\A</script>";
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 3.35vw;
  margin: auto;
}

.browser {
  background-image: url("mouse-pointer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(var(--width) / 1.16);
  width: calc(var(--width) / 2);
}

.timer {
  --colour: white;
  border: var(--thickness) solid var(--colour);
  border-radius: 50%;
  width: var(--width);
  height: var(--width);
  position: relative;
  flex-shrink: 0;
  transition: transform steps(12, end);
}
.timer::after {
  content: "";
  border: calc(var(--thickness) / 2) solid var(--colour);
  background-color: var(--colour);
  height: calc((var(--width) - var(--thickness)) / 2);
  position: absolute;
  left: calc(50% - var(--thickness) / 2);
}

.thread-item {
  --size: calc(var(--width) / 2 + var(--thickness));
  width: var(--size);
  height: var(--size);
}
.shrinker {
  transform: scale(0.4);
  transform-origin: 20% top;
}

.network {
  width: var(--width);
  height: var(--width);
  margin: auto;
  background: repeating-radial-gradient(
    circle at bottom left,
    white,
    white 9%,
    transparent 9%,
    transparent 18%
  );
  border-top-right-radius: 100%;
  transform-origin: bottom left;
  transform: translateX(50%) rotate(-0.125turn);
  position: relative;
}
.network::after {
  content: "";
  display: block;
  width: 18%;
  height: 18%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: -4.5%;
  bottom: -4.5%;
}
.thread-item .network {
  animation: wifi 3s infinite steps(3);
}
@keyframes wifi {
  from {
    background: none;
  }
  33% {
    background: radial-gradient(
      circle at bottom left,
      transparent,
      transparent 18%,
      white 18%,
      white 27%,
      transparent 27%
    );
  }
  66% {
    background: radial-gradient(
      circle at bottom left,
      transparent,
      transparent 36%,
      white 36%,
      white 45%,
      transparent 45%
    );
  }
  to {
    background: radial-gradient(
      circle at bottom left,
      transparent,
      transparent 54%,
      white 54%,
      white 63%,
      transparent 63%
    );
  }
}

.promise {
  width: var(--width);
  height: var(--width);
  background-color: #f7df1e;
  position: relative;
}
.promise::after {
  content: "then";
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: black;
  font-size: 2em;
}

.animation {
  width: var(--width);
  height: var(--width);
  background-image: url("cat.png");
  background-size: contain;
}
.animation.running {
  background-image: url("cat.gif");
}
