.html {
  display: flex;
  width: 10em;
  background-color: white;
  border: 2px solid black;
  flex-shrink: 0;
  display: flex;
  transition: left 0.5s linear, bottom 0.5s linear, height 3s linear;
  position: absolute;
  overflow: hidden;
}
.html::after {
  content: "<script>\A...\A</script>";
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 3.35vw;
  margin: auto;
}
