nav ul {
  display: flex;
  list-style-type: none;
  color: white;
  justify-content: center;
}

nav ul li a {
  color: inherit;
}

nav ul li + li {
  margin-left: 1em;
}
nav ul li + li::before {
  content: "|";
  margin-right: 1em;
}
